[user]

email = ericpaulsen@coder.com
name = Eric Paulsen
	signingkey = 4999BC1E3DDFC2EDBF93C59E022E083D064193EE

[init]

defaultBranch = master

[alias]

s = status

p = pull

c = clone

# list all aliases

aliases = config --get-regexp alias

